<%= link_to "All the Spots", skatespots_path %>
<h1>User Show Page!</h1>
<ul>
  <h2><li><%= current_user.name %></li></h2>
  <li><%= current_user.email %></li>
  <li><%= current_user.city %></li><br>
</ul>